.mainContainer{
  text-align: center;
  margin: 20px 40px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 5px;
}
.title, .linkToHome{
  color: #7D87D4;
}
.title{
  font-size: 27px;
}
.linkToHome{
  font-size: 18px;
}